* {
    box-sizing: border-box;
}

.navigation {
    display: none;
    list-style: none;
}

.navigation.show-menu {
    display: grid;
    grid-template-columns: 1fr;
    width:90%;
    justify-items: center;
    list-style: none;
}

#menu-button {
    margin: 8px;
}

header {
    background-color:rgba(0, 33, 39, 0.479);
    width: 100%;
    border: 4px;
    padding: 8px;
    margin: 0 auto 16px auto;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    font-family: "roboto", sans-serif;
    
}


a {
    color: rgb(245, 243, 243);
}

a:visited {
    color: rgb(224, 223, 255);
}

a:hover {
    color: cyan;
}

@media (min-width: 768px) {
.navigation.show-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
}

main {
    background-color:rgba(0, 33, 39, 0.479);
    width: 100%;
    border: 2px;
    margin: 32px auto;
    border: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
}

#main * {
padding: 16px;
margin: 8px;
}

div.content {
    display:grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: auto;
}


@media (min-width: 768px) {
div.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

}
}

@media (min-width: 1200px) {
div.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;

}
}

h1 {
    font-family: "lora", serif;
    text-decoration: underline; 
    font-size: 2rem;
}

h2 {
    font-family: "lora", serif;
    font-size: 1.5rem;
    text-decoration: underline;
}

.footer {
    text-align: center;
    background-color: rgba(0, 33, 39, 0.479);
    width: 100%;
    padding: 16px;
    margin: 0 auto 16px auto;
    border: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    font-family: "roboto", sans-serif;
}

.footer p {
    color: rgb(245, 243, 243);
}

body {
    min-height: 100vh;
    background-image: url("assets/10802.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p { 
    font-family: "inter", sans-serif;
}

.contact ul {
    list-style: none;
    font-family: "inter", sans-serif;
    padding: 0;
}

article {

    padding: 16px;
    margin: 0 auto 8px auto;
    border: 2px;
    background-color: lab(99.64% -1.63 -0.58 / 0.466);
    border-radius: 16px;
    border-style: solid;
    border-color: black;

}


fieldset legend {
    font-family: "lora", serif;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}


input, textarea {
    font-family: "inter", sans-serif;
    width: 90%;
    border-color: rgb(245, 243, 243);
    border-radius: 8px;
}

label {
    font-family: "inter", sans-serif;
    font-size: .9rem;
}


input::placeholder, textarea::placeholder {
    color:black;
}

button {
    background-color: rgba(223, 240, 245, 0.692);
    margin-top: 8px;
    font-weight: bold;
}

.error-message {
  display: none;  
}

.show-error {
    display: block;
}