* {
    box-sizing: border-box;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
    list-style: none;
    padding: 0;
}


.submit{
    padding: 8px;
    background-color: rgba(223, 240, 245, 0.692);
    margin-top: 8px;
    font-weight: bold;
    border-radius: 16px;
    font-size: .8rem;
    border: none;
    border-radius: 16px;
}

.submit:hover {
background-color: rgb(0, 33, 39);
color: rgba(223, 240, 245, 0.842);  
}

.navbutton {
    padding: 8px;
    background-color: rgba(223, 240, 245, 0.692);
    margin-top: 16px;
    font-weight: bold;
    border-radius: 16px;
    font-size: .8rem;
}

.navbutton:hover{
background-color: rgb(0, 33, 39);
color: rgba(223, 240, 245, 0.842);
font-weight: bold;
}


header {
    background-color:rgba(0, 33, 39, 0.685);
    width: 100%;
    font-family: "roboto", sans-serif;
    padding: 8px; margin: 0 auto 16px auto;
    
}


h1 {
    font-family: "lora", serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: rgba(191, 219, 228, 0.986);
    margin-top:0;
    padding-bottom: 16px;
    text-decoration: underline; 
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.747);
    
}


h2 {
    font-family: "lora", serif;
    font-size: 1.25rem;
    text-decoration: underline;
    text-align: center;
}

h3 { 
    font-family: "lora", serif;
    font-size: 1.1rem;
    text-align: center;   
}

a {
    color: rgb(2, 45, 53);
    text-decoration: none;
}

div.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    margin: 0;

}

#weather {
    display: flex;
    justify-content: center;
    padding:16px;
    font-size: 1rem;
    color: rgba(223, 240, 245, 0.842);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.747);
    font-weight: bold;
}

#weather-result {
 font-size: 1rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 32px auto;

}

main {
    background-color:rgba(0, 33, 39, 0.637);
    margin: 16px auto;
    padding: 8px;
    align-items: center;
}

div.gallery-background {
    padding: 8px;
    margin: 8px auto;
    border: 3px;
    background-color: lab(99.64% -1.63 -0.58 / 0.466);
    border-radius: 16px;
    border-style: solid;
    border-color: black;

}

.personal-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.personal-image-gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    border: 3px solid black;
}

.portfolio-gallery, .showcase-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    max-width: 900px;
    margin: 0 auto;
}

.portfolio-gallery a, .showcase-gallery a {
    width: 100%;
    max-width: 400px;
}

.portfolio-gallery img, .showcase-gallery img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 3px;
    border-style: solid;
    border-color: black;
}


.intro-image-container{
    display: flex;
    justify-content: center;
    margin: 56px auto;
    
}

.intro-image-container img{
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 8px;
    border: 3px;
    border-style: solid;
    border-color: black;
}

.showcase-gallery {
    padding-top: 16px;
}


div.error-message {
    font-family: "inter", sans-serif;
    padding: 8px;
    text-align: center;
    color: rgb(218, 8, 8);
    font-weight: bold;
}

.error-message:empty {
    display: none;
}

div.success-message {
    font-family: "inter", sans-serif;
    padding: 8px;
    margin: 0 auto 8px auto;
    color: green;
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: rgba(0, 33, 39, 0.61);
    width: 100%;
    padding: 16px;
    background-color:rgba(0, 33, 39, 0.685);
    font-family: "roboto", sans-serif;
}

.footer p {
    color: rgb(221, 247, 248);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.747);
}

body {
    min-height: 100vh;
    background-image: url("assets/10802.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

p { 
    font-family: "inter", sans-serif;
    font-size: .9rem;
    line-height: 2;
}

.contact ul {
    list-style: none;
    font-family: "inter", sans-serif;
    padding: 0;
}

.contact-instructions {
    font-family: "inter", sans-serif;
    font-size: 1rem;
    line-height: 2;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 8px auto;
}

.skills {
    font-family: "lora", serif;
    text-decoration: underline;
    text-align: center;
}

.skills-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 30px;
    font-size: .9rem;
    row-gap: 4px;
    list-style: none;
    font-family: "inter", sans-serif;
    padding: 0;
}

article {
    padding: 8px;
    margin: 8px;
    border: 3px;
    background-color: lab(99.64% -1.63 -0.58 / 0.466);
    border-radius: 16px;
    border-style: solid;
    border-color: black;
   
}

fieldset legend {
    font-family: "lora", serif;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}


input, textarea {
    font-family: "inter", sans-serif;
    border-color: rgb(245, 243, 243);
    border-radius: 8px;
    padding: 8px;
    margin: 8px 0 8px 0;
    width: 100%;
    max-width: 400px;
    align-self: center;
}

label {
    font-family: "inter", sans-serif;
    font-size: .9rem;
    margin: 4px 0 4px 0;
    
}


input::placeholder, textarea::placeholder {
    color:black;
}

@media (min-width: 768px) {

.navbutton, .submit{
font-size: .9rem;
}

h1 {
    font-size: 1.8rem;
    
}

h2 {
    font-size: 1.45rem;
;
}

h3 { 
    font-size: 1.2rem; 
}

#contact-form {
    margin-top: 48px;
}


.personal-image-gallery img {
    max-width: 350px;
}

.two-column-page div.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.sidebar #main { 
    display: grid; 
    grid-template-columns: 1fr; 
}

.sidebar #main .content {
grid-template-columns: 1fr 1fr;
}

.portfolio-gallery a {
    width: calc(50% - 8px);
}
}

@media (min-width: 1200px) {

.sidebar #main .about {
    display: grid;
}

#contact-form {
    margin-top: 56px;
}


.navbutton, .submit{
font-size: 1rem;
}

h1 {
    font-size: 2rem;
    
}

h2 {
    font-size: 1.6rem;
    padding: 16px 8px;
    margin: 40px;
;
}

h3 { 
    font-size: 1.45rem; 
}

p {

font-size: 1rem;
}

.skills {

margin-top: 96px;

}

.skills-list {
font-size: 1rem;
column-gap: 80px;
row-gap: 8px;
}

.sidebar #main { 
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    gap: 16px;
}

.sidebar #main .content{
    grid-template-columns: 1fr;
}

}

 